<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>
      Hey <%=@name%>
    </h2>
    <p>
      Congratulations on trialing Now You Know - We are very excited to have you along!
    </p>
    <p>
      SO! You have signed up for a trial version and will have the ability to roam around the platform as you please, play with it and see if you love it. We have chucked in some sample data for you to play with, so you can understand how it will look and feel when you subscribe and have access to all the information we provide.
    </p>
    <h5>Instructions</h5>
    <ol>
       <li>Go to the homepage <a href="http://nowyouknowpr.com">here</a></li>
       <li>Click Log In on the top right corner</li>
       <li>Enter the following:</li>
       <ul>
         <li>User Name: user01@test.com</li>
         <li>Password: user01</li>
       </ul>
    </ol>
    <p>
      We’ll get in touch in a couple of days and see how you’re enjoying it.
    </p>
    <p>Regards,</p>
    <p>- Now You Know</p>
  </body>
</html>
