<div class="form">
<h1>Hello</h1>

<p>Now You Know PR is still under construction. Please excuse the mess.</p>

<%= link_to "Sign Up", "/users/sign_up", class: "btn btn-primary" %>
<%= link_to "Log In", "/users/sign_in", class: "btn btn-secondary" %>
</div>
