<!-- Save to Campaign Modal -->
<div class="modal fade" id="saveCampaignModal" tabindex="-1" role="dialog" aria-labelledby="saveCampaignModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="saveCampaignModalLabel">Select a Campaign</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
        <%= select_tag('Campaign', options_from_collection_for_select(Campaign.where(user_id: current_user), :id, :name),{ :class => 'form-control campaign-dropdown' }) %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-campaign-selections" data-dismiss="modal" data-toggle="modal" data-target="#gotoCampaignModal">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Go to Campaign Modal -->
<div class="modal fade" id="gotoCampaignModal" tabindex="-1" role="dialog" aria-labelledby="gotoCampaignModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="gotoCampaignModalLabel">Done</h4>
      </div>
      <div class="modal-body">
        <p>Looks like you just saved some contacts to a campaign. You can find your campaigns under the "Manage" tab.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="main-container">
  <%= render ("layouts/filterbar") %>

  <div class="results-header">
    <!-- Button trigger Save to campaign modal -->
    <button type="button" style="margin-top: 12px; margin-right: 5px;" id="saveButton" class="btn btn-primary pull-xs-right hidden" data-toggle="modal" data-target="#saveCampaignModal">
      Save
    </button>
    <h1>Discover</h1>
    <div class="main-labels">
      <div class="right-label label">

      </div>
      <div class="contact-info-label label">
        <p>CONTACT INFO</p>
      </div>
      <div class="social-info-label label">
        <p>SOCIAL INFO</p>
      </div>
      <div class="genres-label label">
        <p>GENRES</p>
      </div>
      <div class="presstypes-label label">
        <p>PRESS TYPES</p>
      </div>
      <div class="left-label label">

      </div>
    </div>
  </div>

  <div class="results">
    <% @outlets.each do |outlet| %>
      <div class="outlet-writer-wrapper">
      <% print_outlet = true %>
      <% if @filters["freelance"] === "1" && !(outlet.writers.where(freelance: true).present?) %>
        <% print_outlet = false %>
      <% end %>
      <% if print_outlet == true %>
        <%= render partial: 'layouts/outletcard', locals: {outlet: outlet} %>
      <% end %>
        <% outlet.jobs.joins(:writer).order("writers.l_name").each do |job| %>
          <% print_job = true %>
          <% if @filters["country_id"].present? && job.writer.country_id.to_s != @filters["country_id"]%>
            <% print_job = false %>
          <% end %>
          <% if @filters["state"].present? && job.writer.state.to_s.downcase.include?(@filters["state"].to_s.downcase) == false%>
            <% print_job = false %>
          <% end %>
          <% if @filters["city"].present? && job.writer.city.to_s.downcase.include?(@filters["city"].to_s.downcase) == false%>
            <% print_job = false %>
          <% end %>
          <% if @filters["presstype_id"].present? %>
            <% ptypes = job.presstype_tags.map {|t| t.presstype_id.to_s} %>
            <% intersection =  @filters["presstype_id"] & ptypes %>
            <% unless intersection.present? %>
              <% print_job = false %>
            <% end %>
          <% end %>
          <% if @filters["genre_id"].present? %>
            <% gtypes = job.writer.genre_tags.map {|t| t.genre_id.to_s} %>
            <% g_ids_plus_all = @filters["genre_id"] %>
            <% g_ids_plus_all.push("1") unless g_ids_plus_all.include?("1") %>
            <% intersection =  g_ids_plus_all & gtypes %>
            <% unless intersection.present? %>
              <% print_job = false %>
            <% end %>
          <% end %>
          <% if @filters["freelance"] === "1" && job.writer.freelance != true %>
            <% print_job = false %>
          <% end %>
          <% if print_job == true %>
            <%= render partial: 'layouts/writercard', locals: {job: job} %>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </div>

  <div style="clear: both;"></div>

</div>
