<div class="main-container">
  <%= render ("layouts/filterbar") %>

  <div class="results-header">
    <h1>filter</h1>
  </div>

  <div class="results">

    <% @outlets.each do |outlet| %>
      <div class="outlet-writer-wrapper">
        <%= render partial: 'layouts/outletcard', locals: {outlet: outlet} %>
        <% outlet.jobs.each do |job| %>
          <% print_job = true %>
          <% if @filters["country_id"].present? && job.writer.country_id.to_s != @filters["country_id"]%>
            <% print_job = false %>
          <% end %>
          <% if @filters["presstype_id"].present? %>
            <% ptypes = job.presstype_tags.map {|t| t.presstype_id.to_s} %>
            <% intersection =  @filters["presstype_id"] & ptypes %>
            <% unless intersection.present? %>
              <% print_job = false %>
            <% end %>
          <% end %>
          <% if @filters["genre_id"].present? %>
            <% gtypes = job.writer.genre_tags.map {|t| t.genre_id.to_s} %>
            <% intersection =  @filters["genre_id"] & gtypes %>
            <% unless intersection.present? %>
              <% print_job = false %>
            <% end %>
          <% end %>
          <% if print_job == true %>
            <%= render partial: 'layouts/writercard', locals: {job: job} %>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </div>

  <div style="clear: both;"></div>

</div>
