<div class="main-container">
<%= render ("layouts/filterbar") %>

<div class="results-header">
  <h1>the database</h1>
</div>
<%= render("layouts/results") %>

<div style="clear: both;"></div>

</div>
