<div class="main-container">
<%= render ("layouts/filterbar") %>

<div class="results-header">
  <h1>uh oh...</h1>
</div>

<p class="user-message">sorry, but we couldn't find what you were looking for</p>

<p class="user-message">check your search terms and filters and try again</p>

<div style="clear: both;"></div>

</div>
