<%= render ("layouts/filterbar") %>

<div class="results-header">
  <h1>assigned to you</h1>
</div>

<div class="form">

  <ul class="assigned-writers"
    <% @writers.where(user_id: current_user.id).each do |writer| %>

        <li class="assigned-writer"><%= link_to writer.f_name+' '+writer.l_name, edit_writer_path(writer) %> - Last Updated: <%=writer.updated_at%></li>

        <!-- <%= link_to 'Destroy', writer, method: :delete, data: { confirm: 'Are you sure?' } %> -->
    <% end %>
  </ul>
</div>
