
<!-- Modal -->
<div class="modal fade" id="createCampaignModal" tabindex="-1" role="dialog" aria-labelledby="createCampaignModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="createCampaignModalLabel">New Campaign</h4>
      </div>

        <%= render 'form', campaign: @new_campaign %>
      
    </div>
  </div>
</div>

<div class="main-container">
  <%= render ("layouts/managebar") %>

  <div class="results-header">
    <h1>manage</h1>
  </div>

  <div class="results">

    <p>instructions for campaigns here?</p>

  </div>

  <div style="clear: both;"></div>

</div>
