/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800';
 @import "bootstrap";
 @import "bootstrap-multiselect";
 @import "scaffolds";
 @import "cards";

 // Colors
 $light-grey: #E4E9EC;
 $grey: #AAB8C1;
 $dark-grey: #555D64;
 $light-blue: #32C7DB;
 $light-green:#9BDB36;

 $navHeight: 60px;
 $headerHeight: 100px;
 $totalTopHeight: $navHeight + $headerHeight;
 $sidebarWidth: 225px;
 $resultsWidth: 1000px;
 $totalWitdh: $sidebarWidth + $resultsWidth;

 *, *:before, *:after {
   box-sizing: border-box;
 }

body {
  font-family: 'Open Sans', sans-serif;
  color: $dark-grey;
  h1 {
    font-weight: 700;
  }
}

a {
  color: inherit;
  &:hover {
    color: $light-blue;
    text-decoration: none;
  }
}

nav {
  height: $navHeight;
  border-bottom: solid 1px $light-grey;
  a {
    margin-right: 15px;
    font-weight: 700;
    &.hover, &.active {
      color: $light-green;
    }
    &.logout {
      color: $light-blue;
    }
  }
}

.main-container {
  min-width: $totalWitdh;
}

.results-header {
  height: $headerHeight;
}

.sidebar {
  height: calc(100vh - #{$navHeight});
  width: $sidebarWidth;
  float: left;
}

.results {
  height: calc(100vh - #{$totalTopHeight});
  overflow: auto;
  background-color: $light-grey;
  width: $resultsWidth;
  margin: auto;
}

.form {
  padding-left: 15%;
  padding-right: 15%;
  overflow: auto;
  .job-form {
    padding-right: 15%;
  }
  .tag-form {
    width: 300px;
  }
  h1 {
    margin: 50px 0;
    color: $light-blue;
  }
  h4 {
   margin: 25px 0;
   color: $light-blue;
  }
  hr {
   color: $light-blue;
   background-color: $light-blue;
   height: 2px;
  }
  .warning {
   color: red;
  }
  .add-link {
    color: $light-blue;
  }
  .add-job-link {
    color: $light-blue;
    border: solid 2px $light-blue;
    padding: 3px;
  }
  .delete-job-link {
    color: red;
    margin-top: 10px;
  }
  .delete-writer-link {
    color: red;
    border: solid 2px red;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
  }
}
