/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "scaffolds";

 // Colors
 $light-grey: #D5DCE1;
 $grey: #AAB8C1;
 $dark-grey: #555D64;
 $light-blue: #32C7DB;
 $light-green:#9BDB36;

 $navHeight: 60px;
 $headerHeight: 125px;
 $totalTopHeight: $navHeight + $headerHeight;
 $sidebarWidth: 225px;

body {
  color: $dark-grey;
}

nav {
  height: $navHeight;
  border-bottom: solid 1px $light-grey;
}

.results-header {
  height: $headerHeight;
}

.sidebar {
  height: calc(100vh - #{$navHeight});
  width: $sidebarWidth;
  float: left;
}

.results {
  height: calc(100vh - #{$totalTopHeight});
  overflow: auto;
}
