<% @outlets.each do |outlet| %>
  <div class="outlet-writer-wrapper">
    <%= render partial: 'layouts/outletcard', locals: {outlet: outlet} %>
    <% outlet.jobs.joins(:writer).order("jobs.key_contact desc","writers.f_name").each do |job| %>
      <% if job.writer.inactive == false %>
        <%= render partial: 'layouts/writercard', locals: {job: job} %>
      <% end %>
    <% end %>
  </div>
<% end %>
