<div class="sidebar">

  <div class="sidebar-top">
    <div class-"search">
      <%= form_tag(:search_outlets, :url => { :controller => 'outlets', :action => 'search' }) do %>
        <%= text_field_tag(:q, nil, placeholder: "Search") %>
        <!-- <%= submit_tag("Search") %> -->
      <% end %>
    </div>
  </div>
  <div class="filter">
    <label><input type="checkbox" id="show-writers" value="show_writers"> Show Writers</label><br>
  </div>

</div>
